.video {
    background-color: #6E6E6E;
    margin-bottom:    1em;
}
.video-home {
    background-color: #FFFFF9;
    margin-bottom:    1em;
}

.materials-portraits {
    padding: 15px;
}
.materials-portrait {
    background-color: white;
    border:           1px solid #DDDDDD !important;
    border-radius:    5px;
    padding:          15px;
    margin:           0 5px !important;
    min-height:       270px !important;
}
.materials-portrait a {
    color: #344644;
}
.materials-portrait a:hover,
.materials-portrait a:active {
    text-decoration: none;
}
.materials-portrait .materials-name,
.materials-portrait .materials-category {
    font-size:   1em;
    line-height: 1em;
    margin:      5px 0;
    padding:      10px 0;
}
.materials-portrait .embed-responsive {
    background-color: #FFFFFF;
}
.materials-portrait .picture {
    /*height:     100%;
    object-fit: cover;
    position:   absolute;
    width:      100%;*/
    text-align: center;
    margin: auto;
}
.border{
    border:1px solid #dee2e6!important
}
.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.document-menu {
    /*background-color: #2C3E50;*/
    color: #000b0d !important;
}
#treeview {
    height: 450px;
    width: 100% !important;
    color: #000b0d;
    padding: 25px 12px 10px;
}

#treeview .dx-treeview-toggle-item-visibility{
    color: #000b0d !important;
}

#treeview .dx-state-hover {
    color: #000b0d !important;
    background-color: #0d94df !important;
}

#treeview .dx-texteditor-input {
    background-color: #000b0d !important;
}
.options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: #f5f5f5;
}
.caption {
    font-size: 18px;
    font-weight: 500;
}
.option {
    margin-top: 10px;
}
.option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    width: 100%;
    margin-top: 5px;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding:10px;
    margin:10px;
    color:#666;
}
.MultiCarousel .MultiCarousel-inner .item .pad15 > a {
    text-decoration: none;
    color: #666;
}
.MultiCarousel .MultiCarousel-inner .item .pad15 > a > p {
    font-size: small;
    font-weight: bold;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }


